apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qna-agent-data-pvc
  labels:
    app: qna-agent-api
    managed-by: kubectl
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qna-agent-knowledge-pvc
  labels:
    app: qna-agent-api
    managed-by: kubectl
spec:
  accessModes:
  - ReadOnlyMany
  resources:
    requests:
      storage: 100Mi
